<div class="container login-container">
  <div class="row">
  <div class="col-sm-2"></div>
   <div class="col-sm-8 login-form-1 ">
  <h3 class="ff">New Job </h3>
  <%= form_with(model: job, local: true) do |form| %>
    <% if job.errors.any? %>
      <div id="error_explanation">
        <h2 <%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

        <ul>
        <% job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :position %>
      <%= form.text_field :position, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :job_type %>
      <%= form.radio_button :job_type, "Full-Time" %>Full-Time
      <%= form.radio_button :job_type, "Part-Time" %>Part-Time
      <%= form.radio_button :job_type, "Temporary" %>Temporary
    </div>

    <div>
      <%= form.label :company %>
      <%= form.text_field :company, class: 'form-control'%>
    </div>

    <div>
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control'%>
    </div>

    <div>
      <%= form.label :salary %>
      <%= form.text_field :salary, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :bonus %>
      <%= form.check_box :bonus%>
    </div>

    <div>
      <%= form.label :created_at %>
      <%= form.datetime_select :created_at%>
    </div>

    <div class="actions">
      <%= form.submit "Create new Job", class: 'form-control'%>
    </div>
  <% end %>



    </div>
     <div class="col-sm-2"> </div>
     </div>
     </div>
