<!DOCTYPE html>
<html>
  <head>
    <title>JobApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
 <script src="https://kit.fontawesome.com/40079c6bef.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container ">
      <nav class="navbar navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/"><i class="fas fa-people-arrows"> Jobby Job</i></a>
        <% if current_user.present? %>
        Hello!!
        <%= current_user.email.split('@')[0].capitalize %>
        <% end %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <ul class="nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Start Here
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         <% if current_user && current_user.admin%>
         <a class="dropdown-item" href="/jobs/new">Post a Jobs</a>
         <a class="dropdown-item" href="/jobs">Show all Jobs</a>
         <a class="dropdown-item" href="/job_applications">Job applicants</a>
         <% elsif current_user && current_user.admin == false%>
         <a class="dropdown-item" href="/jobs">Show all Jobs</a>
         <% else %>
         <a class="dropdown-item" href="/users/sign_up">Sign up</a>
         <a class="dropdown-item" href="/users/sign_in">Login</a>

         <% end %>
       </div>

        </ul>


    <form class="form-inline">
      <a class="btn btn-outline-primary" href="/users/sign_in" role="button">
      Login
      </a>
      <% if current_user %>
      <a class="btn btn-outline-primary" href="/users/sign_out" role="button" data-method="delete">
      Logout
      <% end %>
      </a>
      <div style="padding-left: 10px;">
        <a class="btn btn-outline-success" href="/users/sign_up" role="button">
        Sign Up
        </a>
      </div>
      <div>
    </form>
  </nav>

    </div>



  <%= yield %>
  </body>
</html>
